<!--ion-header>
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
  <ion-card>
    <ion-img src="/assets/images/banner.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenue sur Cocktales!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit incidunt blanditiis ea magnam sapiente placeat non enim animi minus, alias quam molestiae nemo, maiores consequatur neque quo vero voluptatibus laborum id vel explicabo quae. Aut aliquid ipsam ex natus perspiciatis, molestias totam sed, recusandae sit ullam ea aspernatur enim quae?</p>
        <p>Veuillez vous identifiez pour utiliser l'application.</p>
      </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Connexion</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Inscription</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>