<ion-header>
  <ion-toolbar>
    <ion-title>Identification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="mail" required  ngControl="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" required ngControl="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
  </form>
</ion-content>
