<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="mail" required ngModel name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required ngModel name="password"></ion-input>
    </ion-item>

    <ion-radio-group ngModel name="type">
      <ion-item>
        <ion-label>Utilisateur</ion-label>
        <ion-radio slot="start" color="success" value="user" checked></ion-radio>
      </ion-item>
      
      <ion-item>
        <ion-label>Bar</ion-label>
        <ion-radio slot="start" color="tertiary" value="bar"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <p text-right>Mot de passe oublié?</p>


    <ion-button type="submit" expand="block" color="primary">Connexion</ion-button>
  </form>

  <p text-center>Vous n'êtes pas inscrit?</p>

  <ion-button expand="block" color="danger" (click)="registerModal()">Insciption</ion-button>

</ion-content>
