<ion-header>
  <ion-toolbar>
    <ion-title>Identification</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()" novalidate>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input type="mail" required  [(ngModel)]="logger.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" required [(ngModel)]="logger.password" name="password"></ion-input>
    </ion-item>

    <ion-radio-group [(ngModel)]="logger.type" name="type">
      <ion-item>
        <ion-label>Utilisateur</ion-label>
        <ion-radio slot="start" color="success" value="user" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Bar</ion-label>
        <ion-radio slot="start" color="tertiary" value="bar"></ion-radio>
      </ion-item>
    </ion-radio-group>


    <ion-button type="submit" expand="block" color="primary">Submit</ion-button>
  </form>
</ion-content>
