<ion-header>
    <ion-toolbar>
        <ion-item lines="none">
            <ion-avatar>
                <img src="{{user.profilePicture}}">
            </ion-avatar>
        </ion-item>
        <ion-item lines="none">
            <ion-title>
                {{user.firstname}}
                {{user.lastname}}
            </ion-title>
        </ion-item>
    </ion-toolbar>
    <ion-buttons>
        <ion-button (click)="switchCase('contact')" [disabled]="(tab == 'contact')? true : false" class="formTypeButton">Contact</ion-button>
        <ion-button (click)="switchCase('cv')" [disabled]="(tab == 'cv')? true : false" class="formTypeButton">CV</ion-button>
        <ion-button (click)="switchCase('avis')" [disabled]="(tab == 'avis')? true : false" class="formTypeButton">Avis</ion-button>
    </ion-buttons>
</ion-header>

<ion-content [ngClass]="tab == 'contact'? 'active' : 'inactive'" fullscreen padding>

</ion-content>

<ion-content [ngClass]="tab == 'cv'? 'active' : 'inactive'" fullscreen padding>

</ion-content>

<ion-content [ngClass]="tab == 'avis'? 'active' : 'inactive'" fullscreen padding>
  <app-rate *ngFor="let userRate of userRates" [userRate]="userRate"></app-rate>
</ion-content>


<app-footer></app-footer>
