<ion-header>
  <ion-toolbar>
    <ion-title>Offres d'emploi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding fullscreen>
  <ion-list inset="true" *ngIf="jobOffers"> 
    <ion-item *ngFor='let jobOffer of jobOffers' (click)="openOffer(jobOffer.offer.id)">
      <ion-thumbnail slot="start">
        <img src="{{jobOffer.bar.profilePicture}}">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h3>{{ jobOffer.bar.establishmentName }}</h3>
        </ion-text>
        <ion-text >
          <p>Débute le: {{jobOffer.offer.timePeriod[0].start}}</p>
          <p>Salaire horaire: {{jobOffer.offer.hourlyWage}} €</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<app-footer></app-footer>