<ion-header>

    <div [myScrollVanish]="scrollArea" class="vanish-header">
        <ion-slides pager="true">
            <ion-slide *ngFor="let image of bar.images">
                <ion-img [src]="image"></ion-img>
            </ion-slide>
        </ion-slides>

        <ion-item lines="none" color="transparent" class="bar-header">
                <ion-avatar slot="start">
                    <img src="{{bar.profilePicture}}">
                </ion-avatar>
                <ion-label >
                    <h1>{{bar.establishmentName}}</h1>
                </ion-label>
        </ion-item>
    </div>

    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="switchTab('coordonnees')" [disabled]="(tab == 'coordonnees')? true : false" class="formTypeButton">Contact</ion-button>
            <ion-button (click)="switchTab('description')" [disabled]="(tab == 'description')? true : false" class="formTypeButton">Description</ion-button>
            <ion-button (click)="switchTab('avis')" [disabled]="(tab == 'avis')? true : false" class="formTypeButton">Avis</ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>


<ion-content #scrollArea [scrollEvents]="true" fullscreen padding>

    <ion-card [ngClass]="tab=='coordonnees'?'active':'inactive'">
        <ion-icon (click)="edit()" name="create"></ion-icon>
        <form (ngSubmit)="editBar(form)" [formGroup]="barForm" class="editForm" novalidate>
            <ion-card-content>
                <ion-item [lines]="editMode? 'inset' : 'none'">
                    <ion-label position="floating">Email</ion-label>
                    <ion-input name="email" formcontrolname="email" type="mail" value={{bar.email}}></ion-input>
                </ion-item>
                <ion-item [lines]="editMode? 'inset' : 'none'">
                    <ion-label position="floating">Téléphone</ion-label>
                    <ion-input name="phone" formcontrolname="phone" type="number" value={{bar.phone}}></ion-input>
                </ion-item>
                <ion-item [lines]="editMode? 'inset' : 'none'">
                    <ion-label position="floating">Adresse</ion-label>
                    <ion-input name="address" formcontrolname="address" type="text" value={{bar.address}}></ion-input>
                </ion-item>
                <ion-item [lines]="editMode? 'inset' : 'none'">
                    <ion-label position="floating">Theme</ion-label>
                    <ion-input name="theme" formcontrolname="theme" type="text" value={{bar.theme}}></ion-input>
                </ion-item>
                <ion-item [lines]="editMode? 'inset' : 'none'">
                    <ion-label position="floating">Web</ion-label>
                    <ion-input name="web" formcontrolname="web" type="text" value={{bar.web}}></ion-input>
                </ion-item>

                <ion-button [ngClass]="editMode? 'active' : 'inactive'" color="primary" expand="block" ion-button type="submit">Sauvegarder</ion-button>

            </ion-card-content>
        </form>

    </ion-card>

    <ion-card [ngClass]="tab=='description'?'active':'inactive'">
        <ion-card-content>
            <ion-text>
                {{bar.description}}
            </ion-text>
        </ion-card-content>
    </ion-card>

    <app-rate *ngFor="let barRate of barRates" [barRate]="barRate" [ngClass]="tab=='avis'?'active':'inactive'"></app-rate>

</ion-content>

<app-footer></app-footer>
